apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: aicd-dev
spec:
  selector:
    app: postgresql
  ports:
  - port: 5432
    targetPort: 5432
    name: postgresql
  type: ClusterIP